:root {
    /* BACKGROUND */
    --color-BLACK: rgb(0, 0, 0);

    /* Nintendo Switch (RED) */
    --color-switch: rgb(255, 45, 45);
    --color-switch-dark: rgb(200, 30, 30);

    /* PlayStation (BLUE) */
    --color-playstation: rgb(0, 120, 255);
    --color-playstation-dark: rgb(15, 65, 140);

    /* Xbox (NEON-GREEN) */
    --color-xbox: rgb(0, 255, 100);
    --color-xbox-dark: rgb(0, 150, 70);

    /* TEXT*/
    --color-text: rgb(255, 255, 255);
    --color-text-secondary: rgb(180, 180, 180);

    /* TEXT-PURPLE*/
    --color-purple: rgb(120, 60, 255);

    /*FONTS */
    --font-body: 'Rajdhani', sans-serif;
    --font-title: 'Orbitron', sans-serif;
    
    /* https://coolors.co/000000-ff2d2d-0078ff-00ff64-ffffff-783cff */
}


body {
    margin: 0;
    background-color: var(--color-BLACK);
    color: var(--color-text);
    font-family: var(--font-body);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--color-BLACK);
    border-bottom: 2px solid var(--color-purple);
}

header h1 {
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    color: var(--color-purple);
}

nav#MAIN_MENU {
    display: flex;
    gap: 2rem;
}

#HOME,
#SWITCH,
#PS,
#XBOX {
    color: var(--color-text);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-body);
}

#HOME:hover {
    color: var(--color-purple);
}

#SWITCH:hover {
    color: var(--color-switch);
}

#PS:hover {
    color: var(--color-playstation);
}

#XBOX:hover {
    color: var(--color-xbox);
}