table {
    width: 600px;
    height: 200px;
    border: 0.2rem solid rgb(0, 0, 0);
    border-collapse: collapse;
}

.title {
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: center;
}

.sub_title {
    background-color: #666565;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 0.2rem solid rgb(0, 0, 0);
}

.feature,
td {
    font-weight: bold;
    text-align: center;
    border: 0.2rem solid rgb(0, 0, 0);
}

tr:nth-last-child(2) {
    background-color: #02a5c92d;
}

caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.2rem;
}